.button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.button:hover,
.button:focus {
  background-color: transparent;
}

.button__good {
  background-color: rgb(37, 240, 37);
}

.button__good:hover,
.button__good:focus {
  border: 2px solid rgb(37, 240, 37);
  color: rgb(37, 240, 37);
}

.button__neutral {
  margin-left: 10px;
  background-color: rgb(255, 235, 58);
}

.button__neutral:hover,
.button__neutral:focus {
  border: 2px solid rgb(255, 235, 58);
  color: rgb(255, 235, 58);
}

.button__bad {
  margin-left: 10px;
  background-color: rgb(247, 52, 45);
}

.button__bad:hover,
.button__bad:focus {
  border: 2px solid rgb(247, 52, 45);
  color: rgb(247, 52, 45);
}
